<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/Content/css">
		<include path="~/Content/bootstrap.css" />
		<include path="~/Assets/css/Site.css" />
		<include path="~/Assets/css/woocomerce.css" />
	</styleBundle>
	<styleBundle path="~/animate/css">
		<include path="~/Assets/vendors/animate-css/animate.css" />
		<include path="~/Assets/vendors/animated-headline/animated-headline.css" />
		<include path="~/Assets/vendors/owl/assets/owl.carousel.min.css" />
		<include path="~/Assets/vendors/owl/assets/owl.theme.default.min.css" />
	</styleBundle>
	<styleBundle path="~/iconfont/css">
		<include path="~/Assets/vendors/awesome/css/fontawesome-all.min.css" />
		<include path="~/Assets/vendors/awesome/css/all.min.css" />
		<include path="~/Assets/vendors/flaticon/flaticon.css" />
		<include path="~/Assets/fonts/gilroy/style.css" />
		<include path="~/Assets/vendors/magnific-popup/magnific-popup.css" />
	</styleBundle>

	<styleBundle path="~/Admin/css">
		<include path="~/AdminPages/Assets/vendors/volt/volt.css" />
		<include path="~/AdminPages/Assets/css/admin-global.css" />
		<include path="~/AdminPages/Assets/vendors/sweetalert2/dist/sweetalert2.min.css" />
		<include path="~/AdminPages/Assets/vendors/notyf/notyf.min.css" />
		<include path="~/AdminPages/Assets/vendors/fontawesome/css/all.min.css" />
	</styleBundle>
</bundles>
